<div id="cvt_app">

  <div id="cvt_slider">
    <div id="cvt_sync_right_btn" class="cvt_button">
      <span class="fa fa-align-right"></span>
    </div>

    <div id="cvt_toggle_btn" class="cvt_button">
      <span class="fa fa-caret-right"></span>
    </div>

    <div id="cvt_sync_left_btn" class="cvt_button">
      <span class="fa fa-align-left"></span>
    </div>
  </div>
  <div id="cvt">
    <div class="title">
      <h3>
        Ready to cv.</h3>
    </div>
    <div id="cvt_fields">
    </div>
  </div>

</div>